<div class="container" id="contenido">
  <!--
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Valor</th>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <!-<tr ng-repeat="temperatura in temperatura track by $index">
            <td>{{temperatura.id}}</td>
            <td>{{temperatura.valor}}</td>
            <td>{{temperatura.tiempo}}</td>
            <td>{{temperatura.nombre}}</td>
          
          </tr>

        ->
        <tr *ngFor="let valor of temperatura ">
          <td>{{valor.id}}</td>
          <td>{{valor.valor}}</td>
          <td>{{valor.tiempo}}</td>
          <td>{{valor.nombre}}</td>
        </tr>
        </tbody>
  
      </table>
  
    </div>
  
  </div>
-->
  <div class="row">

    <div class="col-md-6">

      <div class=" col-md-7 container flex">
        <div class="flex-item">
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="flex-item">


        </div>
      </div>
    </div>

    <div class="col-md-6">

      <div class=" col-md-7 container flex">
        <div class="flex-item">
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartDataH" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="flex-item">


        </div>
      </div>
    </div>


  </div>

  <div class="row">

    <div class="col-md-6">

      <div class=" col-md-7 container flex">
        <div class="flex-item">
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartDataHS" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="flex-item">

        </div>
      </div>
    </div>

    <div class="col-md-6">


      <div class=" col-md-7 container flex">
        <div class="flex-item">
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartDataC" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="flex-item">


        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <!--<div class="col-md-3">
    <dp-date-picker [(ngModel)]="myDate.selection" (click)="getDateInicial()"></dp-date-picker> 
  </div>
  <div class="col-md-3">
    <dp-date-picker [(ngModel)]="myDate.selection" (click)="getDateFinal()"></dp-date-picker> 
  </div>-->
    <!-- <ng-datepicker [(ngModel)]="myDate.selection" (click)="getgDate()"></ng-datepicker>-->
    <div class="col-md-2">
      <label for="nombre"> <kbd> Nombre Medición </kbd> </label>
    </div>
    <div class="col-md-4">
      <form class="col-md-12" #registerForm="ngForm" (ngSubmit)=exportAsXLSX(registerForm) id="formularionom">
        <div class="form-group">
          <select name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]="ttemp.nombre">
            <option value="Temperatura">Temperatura</option>
            <option value="Humedad">Humedad</option>
            <option value="HumedadSuelo">Humedad del Suelo</option>
            <option value="Co2">CO<sub>2</sub></option>
          </select>
          <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">
            El campo está vacío
          </small>
        </div>
        </form>
      </div>
      <div class="col-md-2">
        <input type="submit" value="Excel" class="btn btn-success" [disabled]="registerForm.invalid" form="formularionom">
      </div>
       
        <!-- <input type="submit" value="Excel" class="btn btn-success" (click)='exportAsXLSX()' [disabled]="registerForm.invalid"> -->

   
    
    <!--<div class="col-md-2"><button (click)='exportAsXLSX()' class="btn btn-info">Excel</button> </div>-->
    <div class="col-md-2"></div>
    <div class="col-md-2"><button class="btn btn-success" (click)="exportar()"><i class="far fa-file-pdf"></i>
        PDF</button></div>
  </div>
</div>
<!--
<button (click)="generarPDF()" class="btn btn-info">Crear PDF</button>
-->