<div class="container" id="contenido">
 <!--
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Valor</th>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <!-<tr ng-repeat="temperatura in temperatura track by $index">
            <td>{{temperatura.id}}</td>
            <td>{{temperatura.valor}}</td>
            <td>{{temperatura.tiempo}}</td>
            <td>{{temperatura.nombre}}</td>
          
          </tr>

        ->
        <tr *ngFor="let valor of temperatura ">
          <td>{{valor.id}}</td>
          <td>{{valor.valor}}</td>
          <td>{{valor.tiempo}}</td>
          <td>{{valor.nombre}}</td>
        </tr>
        </tbody>
  
      </table>
  
    </div>
  
  </div>
-->
  <div class="row">

    <div class="col-md-6">

      <div class=" col-md-7 container flex">
        <div class="flex-item">
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="flex-item">


        </div>
      </div>
    </div>

    <div class="col-md-6">

      <div class=" col-md-7 container flex">
        <div class="flex-item">
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartDataH" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="flex-item">


        </div>
      </div>
    </div>


  </div>

  <div class="row">

    <div class="col-md-6">

      <div class=" col-md-7 container flex">
        <div class="flex-item">
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartDataHS" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="flex-item">

        </div>
      </div>
    </div>

    <div class="col-md-6">


      <div class=" col-md-7 container flex">
        <div class="flex-item">
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartDataC" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="flex-item">


        </div>
      </div>
    </div>
  </div>
  
  <br>
  
<div class="row">
  <div class="col-md-8">
    <dp-date-picker [(ngModel)]="myDate.selection" (click)="getDateInicial()"></dp-date-picker> 
  </div>
  <div class="col-md-8">
    <dp-date-picker [(ngModel)]="myDate.selection" (click)="getDateFinal()"></dp-date-picker> 
  </div>
 <!-- <ng-datepicker [(ngModel)]="myDate.selection" (click)="getgDate()"></ng-datepicker>-->
  
  <div class="col-md-2"><button (click)='exportAsXLSX()' class="btn btn-info">Excel</button> </div>
  
  <div class="col-md-2"><button class="btn btn-success" (click)="exportar()"><i class="far fa-file-pdf"></i> PDF</button></div>
</div>
</div>
<!--
<button (click)="generarPDF()" class="btn btn-info">Crear PDF</button>
-->
