@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body{font-family: 'Poppins', sans-serif;
     background: #fafafa}
p{font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: rgb(189, 189, 189);
}
.fondo{
    height: 100vh;
    
    background-image: url("../../../assets/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    


}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}
.navbar{
	padding: 10px 10px;
	background: rgb(0, 0, 0,0.5);
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.navbar-btn{
	box-shadow: none;
	outline: none!important;
	border: none;
}

.line{
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
/* sidebar donde sale el menu home y eso */
#sidebar {
    
    min-width: 250px;
    max-width: 250px;
    background: rgb(0, 0, 0,0.5);
    color: #fff;
    transition: all 0.3s;
    min-height: 100vh;
}

.mostrar-sidebar{
    margin-left:-250px;
}
@media(max-width:480px){

    .mostrar-sidebar{
        margin-left:-100px;
    }

    #sidebar{
        min-width: 100px;
        max-width: 100px;
    }

    .sidebar-header{
        padding-bottom:40px!important;
    }

    li span{
        display:none;
    }

    a i{
        font-size: 25px;
    }

    li a{
        text-align: center;
    }

    .titulo-menu{
        display:none!important;
    }

    .sidebar-header h3{
        display:none;
    }
    
}
#sidebar.active{
	margin-left: -250px;
}

#sidebar .sidebar-header{
	padding: 20px;
	background: rgb(0, 0, 0,0.5);
}
#sidebar ul.components{
	padding: 20px 0px;
	border-bottom: 1px solid #578b47;
}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
    color: rgb(213, 115, 115);
    background: rgb(49, 155, 28);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: rgb(65, 212, 65);
    background: #6dccac;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}




@media(maz-width:768px){
	#sidebar{margin-left: -250px;}
	#sidebar.active{
		margin-left: 0px;
	}
	#sidebarCollapse span{
		display: none;
	}
}

.btn-menu{
    color:#ffffff;
    background-color: #7386D5;
    border-color:#7386D5;
}

.avatar_navbar{
  width:80px;
  margin-bottom:10px;
}
.avatar_mask{
  width:60px;
  height:60px;
  overflow: hidden;
  border-radius: 900px;
}

#footer{
     background: rgb(0, 0, 0,0.5);
}
#arriba{
    background: rgb(0, 0, 0,0.5);
}
.avatar_mask img{
  height:60px;
}

.boton-dropdown{
    border-radius: 5%;
}
.boton-dropdown::after{
  right:2px!important;
}

li i{
    min-width: 30px;
}