<div class="row">
    <div class="col-sm-12"> <b><i>Agregar Cultivo</i></b> </div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
            <div class="form-group row">
                    <label for="cultivo" class="col-form-label col-sm-6">Agregue Cultivo:</label>
                  <div class="col-sm-6">
                <input type="text" name="cultivo" id="cultivo" class="form-control" placeholder="Agregue cultivo" tabindex="1">
                  </div>
                </div>
    </div>
</div>
<div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
                <div class="form-group row">
                        <label for="nombreCultivo" class="col-form-label col-sm-6">Nombre Cultivo:</label>
                      <div class="col-sm-6">
                    <input type="text" name="nombreCultivo" id="nombreCultivo" class="form-control" placeholder="Nombre Cultivo" tabindex="1">
                      </div>
                    </div>
                    <div class="form-group row">
                            <label for="caracteristicas" class="col-form-label col-sm-6">Caracteristicas:</label>
                          <div class="col-sm-6">
                        <input type="text" name="caracteristicas" id="caracteristicas" class="form-control" placeholder="" tabindex="1">
                          </div>
                        </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
      <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <h2><b>Configuracion de Variables</b></h2>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <div class="row">
                <div class="col-sm-4">
                    <img src="../../../../assets/temperatura.jpeg" width="300" height="180">
                </div>
                <div class="col-sm-4">
                        <img src="../../../../assets/humedad.jpeg" width="300" height="180">


                </div>
                <div class="col-sm-4">
                        <img src="../../../../assets/co2.jpeg" width="300" height="180">

                </div>
              </div>
              <br>
              <div class="row">
                    <div class="col-sm-4">
                            <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="bunumtton" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      mínimo
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Action</a>
                                      <a class="dropdown-item" href="#">Another action</a>
                                      <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                  </div>
                                  <br>
                                  <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                         máximo
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                      </div>
                    </div>
                    
                    
                      <div class="col-sm-2  ">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              mínimo
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </div>
                     
                      <br>
                      
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              máximo
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-sm-3">
                          
                              <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    mínimo
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                              </div>
                            
                            <br>
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          máximo
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </div>
                
                      
                    
                
                
                
                  
                            
                               
                                 
                                      
                    
                    <div class="col-sm-3">
                            <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     mínimo
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Action</a>
                                      <a class="dropdown-item" href="#">Another action</a>
                                      <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                  </div>
                                  
                                  <br>
                                  <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          máximo
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                      </div>
                    </div>
                    
                  </div>
                  <div class="row">
                        <div class="col-sm-4">
                                <span > <b>Temperatura</b> </span> 
                        </div>
                        
                        
                          <div class="col-sm-2  ">
                                <span> <b>Humedad Suelo </b></span> 
                          </div>
                          
                          <div class="col-sm-3">
                              
                           
                                <span> <b>Humedad Relativa </b></span> 
                        </div>
                    
                          
                        
                    
                    
                    
                      
                                
                                   
                                     
                                          
                        
                        <div class="col-sm-3">
                               <span>  <b>Nivel CO<sub>2</sub> </b> </span> 
                        </div>
                        
                      </div>
                      <div class="row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-4">
                                    <button type="button" class="btn btn-success">Enviar</button>
                            </div>
                            <div class="col-sm-5">
                                   
                            </div>
                          </div>