<div class="row">
  <div class="col-sm-12"> <b><i>Configurar Variables</i></b> </div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="form-group row">
      <p>En esta sección usted podrá configurar las distintas variables presentes en su invernadero</p>
    </div>
  </div>
  <div class="col-sm-2">

  </div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-2">
    <div class="form-group row">
      <label for="cultivo" class="col-form-label">Nombre Cultivo (opcional):</label>
    </div>
  </div>
  <div class="col-sm-2">
    <input type="text" name="cultivo" id="cultivo" class="form-control" placeholder="Agregue cultivo" tabindex="1">
  </div>
  <div class="col-sm-4">
    <p>*Este nombre es opcional</p>
  </div>
</div>


<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-8">
    <h2><b>Configuracion de Variables</b></h2>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4">
    <img src="../../../../assets/temperatura.jpeg" width="300" height="180">
  </div>
  <div class="col-sm-4">
    <img src="../../../../assets/humedad.jpeg" width="300" height="180">


  </div>
  <div class="col-sm-4">
    <img src="../../../../assets/co2.jpeg" width="300" height="180">

  </div>
</div>
<br>


<div class="row">
  
  <div class="col-sm-3" >
    <form #modelNew="ngForm" (ngSubmit)="onSubmit(modelNew)">
    
    <select class="form-control" name="minimo" #minimo="ngModel" [(ngModel)]="sensor.minimo" *ngIf="mostrarTemperatura()">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <br>
    <select class="form-control" name="maximo" #maximo="ngModel" [(ngModel)]="sensor.maximo" *ngIf="mostrarTemperatura()">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>

    <input type="submit" value="enviar" class="btn btn-success" [disabled]="modelNew.invalid" *ngIf="mostrarTemperatura()">
  
</form>
  </div>
  <div class="col-sm-3" >
    <form #modelNew="ngForm" (ngSubmit)="onSubmitDos(modelNew)">
    
    <select class="form-control" name="minimo" #minimo="ngModel" [(ngModel)]="sensor.minimo" *ngIf="mostrarHumedadSuelo()">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <br>
    <select class="form-control" name="maximo" #maximo="ngModel" [(ngModel)]="sensor.maximo" *ngIf="mostrarHumedadSuelo()">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>

    <input type="submit" value="enviar" class="btn btn-success" [disabled]="modelNew.invalid" *ngIf="mostrarHumedadSuelo()">
  
</form>
  </div>
  <div class="col-sm-3" >
    
    <select class="form-control" name="minimo" #minimo="ngModel" [(ngModel)]="sensor.minimo" *ngIf="mostrarHumedad()">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
    <br>
    <select class="form-control" name="maximo" #maximo="ngModel" [(ngModel)]="sensor.maximo" *ngIf="mostrarHumedad()">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>

    <input type="submit" value="enviar" class="btn btn-success" [disabled]="modelNew.invalid" *ngIf="mostrarHumedad()">
  
  </div>

  <div class="col-sm-3" >
  
    <select class="form-control" name="minimo" #minimo="ngModel" [(ngModel)]="sensor.minimo" *ngIf="mostrarCo2()">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
    <br>
    <select class="form-control" name="maximo" #maximo="ngModel" [(ngModel)]="sensor.maximo" *ngIf="mostrarCo2()">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>

    <input type="submit" value="enviar" class="btn btn-success" [disabled]="modelNew.invalid" *ngIf="mostrarCo2()">

  </div>

 

<!--
  <div class="col-sm-2  ">
    <select class="form-control">
      <option>Default select</option>
    </select>
    <br>
    <select class="form-control">
      <option>Default select</option>
    </select>
  </div>

  <div class="col-sm-3">

    <select class="form-control">
      <option>Default select</option>
    </select>
    <br>
    <select class="form-control">
      <option>Default select</option>
    </select>
  </div>


  <div class="col-sm-3">
    <select class="form-control">
      <option>Default select</option>
    </select>
    <br>
    <select class="form-control">
      <option>Default select</option>
    </select>
  </div>
-->
</div>

<div class="row">
  <div class="col-sm-3">
    <span> <b>Temperatura</b> </span>
  </div>


  <div class="col-sm-3  ">
    <span> <b>Humedad Suelo </b></span>
  </div>

  <div class="col-sm-3">


    <span> <b>Humedad Relativa </b></span>
  </div>


  <div class="col-sm-3">
    <span> <b>Nivel CO<sub>2</sub> </b> </span>
  </div>

</div>
<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-4">
    
  </div>
  <div class="col-sm-5">

  </div>
</div>