.fondo{
    height: 100vh;
    
    background-image: url("http://colvin.chillan.ubiobio.cl:8075/nicolas.quintana1501/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    


}