<div class="col-md-12">
    <h1>Titulo</h1>
    <p>Registro de usuarios</p>
    <form class="col-md-5 " #registerForm="ngForm" (ngSubmit)=onSubmit(registerForm)>
    <div class="form-group">
     <label for="nombre"> Nombre</label>
     <input type="text" name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]=
     "usuario.nombre" required pattern="[a-zA-Z]+"> 
     <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">
         el Nombre no es válido
     </small>
    </div>
    <div class="form-group">
        <label for="apellido"> Telefono</label>
        <input type="text" name="apellido" class="form-control" #apellido="ngModel" [(ngModel)]=
        "usuario.apellido" required pattern="[0-9]+"> 
        <small *ngIf="!apellido.valid && apellido.touched" class="invalid-feedback d-block">
            Los Apellidos no son válidoss
        </small>
    </div>
    
       <div class="form-group">
        <label for="correo"> Correo</label>
        <input type="email" name="correo" class="form-control"#correo ="ngModel" [(ngModel)]="usuario.correo" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"> 
        <small *ngIf="!correo.valid && correo.touched" class="invalid-feedback d-block" >
            el Correo no es válido
        </small>
       </div>
       
       <div class="form-group">
        <label for="contrasena"> Contraseña</label>
        <input type="password" name="contrasena" class="form-control" #contrasena="ngModel" [(ngModel)]="usuario.contrasena" required>  
        <small *ngIf="!contrasena.valid && contrasena.touched" class="invalid-feedback d-block">
            la Contraseña no es válida
        </small>
       </div>
       <input type="submit" value="registro" class="btn btn-success" [disabled]="registerForm.invalid">
    
    
    
    
    </form>
    
    
    
    </div>