<div class="container-fluid">
    <!--migas de pan-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/admin']">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
      </ol>
    </nav>
    <!--fin migas de pan-->
  
    <div class="card">
      <div class="card-body">
        <!--ya no debemos hacer property binding, dado que utilizará los arreglos del servicio-->
        <!--<app-product-list [datos]="filterProducts"></app-product-list>-->
        <div class="card border-primary mb-3 text-center">
          <div class="card-header"><b>Listado de Usuarios</b></div>
          <div class="card-body text-primary">
            <div class="table-responsive">
              <!--llamamos a los nuuevos arreglos declarados en productService, y condicionamos-->
              <table class="table table-striped">
                <thead>
                  <!-- esto indica el cabecero de la tabla-->
                  <tr>
                    <th>#</th>
                    <th>Cultivo</th>
                    <th>Placa</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Chipid</th>
                  <!--  <th>Acciones</th>-->
                  </tr>
                </thead>
                <tbody>
                  <!--aqui ocupamos a los arreglos del servicio -->
                  <tr *ngFor="let i of invernadero ;let indice=index">
                    <td *ngIf="i.estado=='1'">{{indice+1}}</td>
                    <td *ngIf="i.estado=='1'">{{i.cultivo}}</td>
                    <td *ngIf="i.estado=='1'">{{i.nombre }}</td>
                    <td *ngIf="i.estado=='1'">{{i.placa }}</td>
                    <td *ngIf="i.estado=='1'">{{i.correo }}</td>
                    <td *ngIf="i.estado=='1'">{{i.chipid }}</td>

              
                 <!--   <td>
                        <button *ngIf="i.estado=='1'" class="btn btn-primary btn-sm" title="Actualizar"
                        (click)="mostrarModal(i.id,i.nombre,i.descripcion,i.user_id)">
                        <i class="fas fa-pencil-alt"></i> Editar
                      </button>
                      &nbsp;
                      <button *ngIf="i.estado=='1'" class="btn btn-danger btn-sm" (click)="eliminarInvernadero(i,i.id)"
                        title="Eliminar">
                        <i class="fas fa-ban"></i> Eliminar
                      </button>
                    </td>-->
                  </tr>
                  <tr>

                
                  </tr>
                </tbody>
                <!--FIN DE BODY-->
              </table>
  
            </div>
            <!--FIN DE SECCION TABLA TABLA-->
          </div>
          <!--FIN HEADER CARD-->
        </div>
        <!--FIN BORDER CARD-->
      </div>