<div class="row">
    <div class="col-sm-8"><span> <b>Control</b></span> </div>
    <div class="col-sm-4"><span> <b>Cultivo: Tomate</b></span></div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6"> Medicion Actual</div>
    <div class="col-sm-3"></div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-1"><img src="../../../../assets/temperatura.jpeg" height="120" width="200"></div>

    <div class="col-md-2"><span><kbd>Temperatura: </kbd> <span *ngIf="colorVerdeTemperatura()"><input readonly
                    type="text" style="background-color: #00ff00;width : 30px;" value="{{valorTemperatura}}"></span>
            <span *ngIf="colorRojoTemperatura()"><input readonly type="text"
                    style="background-color: #ff0000;width : 30px;" value="{{valorTemperatura}}"></span>
            <span *ngIf="colorNaranjoTemperatura()"><input readonly type="text"
                    style="background-color: #ff8000;width : 30px;" value="{{valorTemperatura}}"></span>

        </span> <br>
        <span><kbd> Predefinido {{tempMin}}° - {{tempMax}}° </kbd></span>
        <br>
        <span><kbd> Alerta </kbd></span>

    </div>
    <div class="col-md-2"><img src="../../../../assets/cambiar.jpg" height="100" width="100"></div>
    <div class="col-md-3">Encender luz para control de Temperatura, tiempo en minutos.</div>
    <div class="col-md-1">
        <form #modelNew="ngForm" (ngSubmit)="prenderluz(modelNew)" id="formulariotemp">

            <select class="form-control" name="estado" #estado="ngModel" [(ngModel)]="tiempoTemp.estado">
                <option *ngFor="let n of nombres" value="{{n}}">{{n}}</option>
            </select>

        </form>
    </div>
    <div class="col-md-2">
        <input type="submit" value="Aceptar" class="btn btn-success" [disabled]="modelNew.invalid"
            form="formulariotemp">

        <form #modelNew="ngForm" (ngSubmit)="apagarluz(modelNew)">
            <select class="form-control" name="estado" #estado="ngModel" [(ngModel)]="tiempoTemp.estado" hidden>

            </select>

            <input type="submit" value="Cancelar" class="btn btn-danger" [disabled]="modelNew.invalid">


        </form>
    </div>
    <br>
    <!-- segundo control-->
    <div class="row">
        <div class="col-md-2 col-md-offset-1"><img src="../../../../assets/humedad.jpeg" height="120" width="200"></div>
        <div class="col-md-2"><span><kbd> H. Suelo:</kbd> <span *ngIf="colorVerdeHumedadSuelo()"><input readonly
                        type="text" style="background-color: #00ff00;width : 30px;"
                        value="{{valorHumedadSuelo}}"></span>
                <span *ngIf="colorRojoHumedadSuelo()"><input readonly type="text"
                        style="background-color: #ff0000;width : 30px;" value="{{valorHumedadSuelo}}"></span>
                <span *ngIf="colorNaranjoHumedadSuelo()"><input readonly type="text"
                        style="background-color: #ff8000;width : 30px;" value="{{valorHumedadSuelo}}"></span>

            </span>
            <br>
            <span><kbd> Predefinido {{humSuelMin}}% - {{humSuelMax}}° </kbd></span>
            <br>
            <span><kbd> Alerta </kbd></span>

        </div>
        <div class="col-md-2"><img src="../../../../assets/cambiar.jpg" height="100" width="100"></div>
        <div class="col-md-3">Activar sistema de regadío, para aumentar la humedad del suelo. </div>
        <div class="col-md-1">
            <form #modelNew="ngForm" (ngSubmit)="prenderagua(modelNew)" id="formularioagua">

                <select class="form-control" name="estado" #estado="ngModel" [(ngModel)]="tiempoHumSuel.estado">
                    <option *ngFor="let n of nombres" value="{{n}}">{{n}}</option>
                </select>

            </form>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Aceptar" class="btn btn-success" [disabled]="modelNew.invalid"
                form="formularioagua">

            <form #modelNew="ngForm" (ngSubmit)="apagaragua(modelNew)">
                <select class="form-control" name="estado" #estado="ngModel" [(ngModel)]="tiempoHumSuel.estado" hidden>

                </select>

                <input type="submit" value="Cancelar" class="btn btn-danger" [disabled]="modelNew.invalid">


            </form>
        </div>

    </div>
    
    <!--Tercer Control-->
    <div class="row">
        <div class="col-md-2 col-md-offset-1"><img src="../../../../assets/humedadAire.jpeg" height="120" width="200">
        </div>
        <div class="col-md-2">
            <span><kbd> H. Aire: </kbd>
                <span *ngIf="colorVerdeHumedad()"><input readonly type="text"
                        style="background-color: #00ff00;width : 30px;" value="{{valorHumedad}}"></span>
                <span *ngIf="colorRojoHumedad()"><input readonly type="text"
                        style="background-color: #ff0000;width : 30px;" value="{{valorHumedad}}"></span>
                <span *ngIf="colorNaranjoHumedad()"><input readonly type="text"
                        style="background-color: #ff8000;width : 30px;" value="{{valorHumedad}}"></span>

            </span>
            <br>
            <span><kbd> Predefinido {{humMin}}% - {{humMax}}% </kbd></span>
            <br>
            <span><kbd> Alerta </kbd>
            </span>

        </div>
        <div class="col-md-2"><img src="../../../../assets/cambiar.jpg" height="100" width="100"></div>
        <div class="col-md-3">Activar ventilador, para reducir la Humedad presente en el ambiente. </div>
        <div class="col-md-1">
            <form #modelNew="ngForm" (ngSubmit)="prenderventilador(modelNew)" id="formularioventilador">

                <select class="form-control" name="estado" #estado="ngModel" [(ngModel)]="tiempoHum.estado">
                    <option *ngFor="let n of nombres" value="{{n}}">{{n}}</option>
                </select>
            </form>
        </div>
        <div class="col-md-2">
            <input type="submit" value="activar" class="btn btn-success" [disabled]="modelNew.invalid"
                form="formularioventilador">
            <form #modelNew="ngForm" (ngSubmit)="apagarventilador(modelNew)">
                <select class="form-control" name="estado" #estado="ngModel" [(ngModel)]="tiempoHum.estado" hidden>

                </select>

                <input type="submit" value="Cancelar" class="btn btn-danger" [disabled]="modelNew.invalid">


            </form>
        </div>
    </div>
    <br>
    <!--ultimo control-->
    <div class="row">
        <div class="col-md-2 col-md-offset-1"><img src="../../../../assets/co2.jpeg" height="120" width="200"></div>
        <div class="col-md-2">
            <span><kbd> Nivel CO<sub>2 </sub>: </kbd> <span *ngIf="colorVerdeCo2()"><input readonly type="text"
                        style="background-color: #00ff00;width : 30px;" value="{{valorCo2}}"></span>
                <span *ngIf="colorRojoCo2()"><input readonly type="text" style="background-color: #ff0000;width : 30px;"
                        value="{{valorCo2}}"></span>
                <span *ngIf="colorNaranjoCo2()"><input readonly type="text"
                        style="background-color: #ff8000;width : 30px;" value="{{valorCo2}}"></span>

            </span>
            <br>
            <span><kbd> Predefinido {{co2Min}}% - {{co2Max}}% </kbd> </span>
            <br>
            <span><kbd>Alerta</kbd> </span>

        </div>
        <div class="col-md-2"><img src="../../../../assets/cambiar.jpg" height="100" width="100"></div>
        <div class="col-md-3">Activar ventilador dos, para modificar la calidad del Aire presente en el ambiente. </div>

        <div class="col-md-1">
            <form #modelNew="ngForm" (ngSubmit)="prenderventilador2(modelNew)" id="formularioventilador2">

                <select class="form-control" name="estado" #estado="ngModel" [(ngModel)]="tiempoCo2.estado">
                    <option *ngFor="let n of nombres" value="{{n}}">{{n}}</option>
                </select>
            </form>
        </div>

        <div class="col-md-2">
            <input type="submit" value="activar" class="btn btn-success" [disabled]="modelNew.invalid"
                form="formularioventilador2">
            <form #modelNew="ngForm" (ngSubmit)="apagarventilador2(modelNew)">
                <select class="form-control" name="estado" #estado="ngModel" [(ngModel)]="tiempoCo2.estado" hidden>

                </select>

                <input type="submit" value="Cancelar" class="btn btn-danger" [disabled]="modelNew.invalid">


            </form>
        </div>
        <!-- Material checked -->

    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm" style="color:rgb(44, 83, 255);">
            <span> <b> Mediciones: </b> <input type="text" style="background-color: #00ff00; width: 30px;" readonly> <b>
                    Nivel correcto</b></span>
        </div>
        <div class="col-sm" style="color:rgb(44, 83, 255);">
            <input type="text" style="background-color: yellow; width: 30px;" readonly><b> Nivel al limite</b>
        </div>
        <div class="col-sm" style="color:rgb(44, 83, 255);">
            <input type="text" style="background-color: #ff0000; width: 30px;" readonly> <b> Nivel critico fuera de
                rango</b>
        </div>
    </div>
</div>