<div class="row">
  <div class="col-sm-8"><span> <b>Control</b></span> </div>
  <div class="col-sm-4"><span> <b>Cultivo: Tomate</b></span></div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6">  Medicion Actual</div>
    <div class="col-sm-3"></div>
  </div>

  
  <div class="row">
    <div class="col-md-2 col-md-offset-1"><img src="../../../../assets/temperatura.jpeg" height="100" width="100"></div>
    <div class="col-md-2"><span><kbd> Temperatura: </kbd><input type="text" value="30" style="background-color: green; width: 30px;"> </span>  <br>
        <span><kbd>Predefinido 10° - 45° </kbd></span>
        <br>
        <span><kbd> Alerta 15° - 40° </kbd></span>
    
    </div>
    <div class="col-md-2"><img src="../../../../assets/cambiar.jpg" height="100" width="100"></div>
    <div class="col-md-3"><span>Encender luz <input type="number" style="width : 50px;"> min </span></div>
    <div class="col-md-2"><!-- Material checked -->
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
</div>
</div>
<br>
<!-- segundo control-->
<div class="row">
        <div class="col-md-2 col-md-offset-1"><img src="../../../../assets/humedad.jpeg" height="100" width="100"></div>
        <div class="col-md-2"><span><kbd>H. Suelo: </kbd> <input type="text" value="70" style="background-color: red; width: 30px;"> </span>  <br>
            <span ><kbd> Predefinido 40% - 70° </kbd></span>
            <br>
            <span><kbd> Alerta 48% - 62% </kbd> </span>
        
        </div>
        <div class="col-md-2"><img src="../../../../assets/cambiar.jpg" height="100" width="100"></div>
        <div class="col-md-3"><span>Regar <input type="number" style="width : 50px;"> min </span></div>
        <div class="col-md-2"><!-- Material checked -->
            <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
    </div>
    </div>
    <br>
    <!--Tercer Control-->
    <div class="row">
            <div class="col-md-2 col-md-offset-1"><img src="../../../../assets/humedadAire.jpeg" height="100" width="100"></div>
            <div class="col-md-2"><span><kbd> H. Aire: </kbd><input type="text" value="25" style="background-color: blue; width: 30px;"> </span>  <br>
                <span><kbd> Predefinido 50% - 80% </kbd></span>
                <br>
                <span><kbd> Alerta 55% - 75%° </kbd></span>
            
            </div>
            <div class="col-md-2"><img src="../../../../assets/cambiar.jpg" height="100" width="100"></div>
            <div class="col-md-3"><span>Ventilador 1 <input type="number" style="width : 50px;"> min </span></div>
            <div class="col-md-2"><!-- Material checked -->
                <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
        </div>
        </div>
        <br>
        <!--ultimo control-->
        <div class="row">
                <div class="col-md-2 col-md-offset-1"><img src="../../../../assets/co2.jpeg" height="100" width="100"></div>
                <div class="col-md-2"><span><kbd> Nivel CO<sub>2 </sub> </kbd><input type="text" value="50" style="background-color: green; width: 30px;"> </span>  <br>
                    <span><kbd> Predefinido 40% - 75% </kbd></span>
                    <br>
                    <span><kbd>Alerta 45% - 70% </kbd></span>
                
                </div>
                <div class="col-md-2"><img src="../../../../assets/cambiar.jpg" height="100" width="100"></div>
                <div class="col-md-3"><span>Ventilador 2 <input type="number" style="width : 50px;"> min </span></div>
                <div class="col-md-2"><!-- Material checked -->
                    <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
            </div>
            </div>
            <br>
            <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <span> <b>Mediciones: </b>  <input type="color" placeholder="30" value="#00ff00"> <b>  Nivel correcto</b></span> 
                      </div>
                      <div class="col-sm">
                            <input type="color" placeholder="30" value="#ff8000"><b>  Nivel al limite</b>
                      </div>
                      <div class="col-sm">
                            <input type="color" placeholder="30" value="#ff0000"> <b>  Nivel critico fuera de rango</b>
                      </div>
                    </div>
                  </div>