<div class="col-md-12" align="center">
    <h1>Registro Invernadero</h1>
    
<div align="center">
    <form class="col-md-5 " #registerForm="ngForm" (ngSubmit)=onSubmit(registerForm) >
        <div class="form-group">
            <label for="cultivo"> Cultivo</label>
            <input type="text" name="cultivo" class="form-control" #cultivo="ngModel" [(ngModel)]="invernadero.cultivo"
                required pattern="[a-zA-Z]+">
            <small *ngIf="!cultivo.valid && cultivo.touched" class="invalid-feedback d-block">
                El campo está vacío
            </small>
        </div>

        <div class="form-group">
            <label for="caracteristicas"> Caracteristicas del invernadero</label>
            <input type="text" name="caracteristicas" class="form-control" #caracteristicas="ngModel" [(ngModel)]="invernadero.caracteristicas"
                required pattern="[a-zA-Z]+">
            <small *ngIf="!caracteristicas.valid && caracteristicas.touched" class="invalid-feedback d-block">
                caracteriticas vacía o incorrectas
            </small>
        </div>
        <div class="form-group">
            <label for="placa"> Placa</label>
            <input type="text" name="placa" class="form-control" #placa="ngModel" [(ngModel)]="invernadero.placa"
                required pattern="[a-zA-Z]+">
            <small *ngIf="!placa.valid && placa.touched" class="invalid-feedback d-block">
                no existen datos o son incorrectos
            </small>
        </div>
      

        <div class="form-group">
            <label for="usuario_id_usuario"> Usuario</label>
            <select name="usuario_id_usuario" class="form-control" #usuario_id_usuario="ngModel" [(ngModel)]="invernadero.usuario_id_usuario">

                <option *ngFor="let item of usuario;let indice=index" [value]="item.id">
                    {{item.nombre}}
                  </option>
            </select>
            <small *ngIf="!usuario_id_usuario.valid && usuario_id_usuario.touched" class="invalid-feedback d-block">
                Ingrese un usuario valido
            </small>
        </div>
        

        <div class="form-group">
            <label for="chipid"> Chipid</label>
            <select name="chipid" class="form-control" #chipid="ngModel" [(ngModel)]="invernadero.chipid">

                <option value="13188695">13188695</option>
                
            </select>
            <small *ngIf="!chipid.valid && chipid.touched" class="invalid-feedback d-block">
                Ingrese solo números
            </small>
        </div>

        
        <input type="submit" value="registro" class="btn btn-success" [disabled]="registerForm.invalid">




    </form>

</div>

</div>