<h1>Ventajas de la automatización de un invernadero</h1>

<ul >
    <p class="color" >
    <li >
       <h3 > Ahorro de costes derivados de la mano de obra.</h3>
    </li>
    <li>
       <h3 > Mantenimiento del ambiente óptimo para el cultivo.</h3>
    </li>
    <li>
       <h3> Control de enfermedades producidas por hongos al mantener el cultivo en condiciones de baja humedad relativa.</h3>
    </li>
    <li>
       <h3> Control de los procesos fisiológicos de la planta.</h3>
    </li>
    <li>
       <h3> Incrementos en la producción y en la calidad de la cosecha.</h3>
    </li>
    <li>
       <h3> Ofrece la posibilidad de realizar un registro de datos.</h3>
    </li>
    <li>
       <h3> Gestión del invernadero mediante comunicación telemática. </h3>
    </li>
    <li>
       <h3> Sistema de alarma que avisa cuando los niveles están críticos. </h3>
    </li>
    </p>
</ul>
