<div class="container-fluid">
    <!--migas de pan-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/admin']">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
        </ol>
    </nav>
    <!--fin migas de pan-->

    <div class="card">
        <div class="card-body">
            <!--ya no debemos hacer property binding, dado que utilizará los arreglos del servicio-->
            <!--<app-product-list [datos]="filterProducts"></app-product-list>-->
            <div class="card border-primary mb-3 text-center">
                <div class="card-header"><b>Listado de Usuarios</b></div>
                <div class="card-body text-primary">
                    <div class="table-responsive">
                        <!--llamamos a los nuuevos arreglos declarados en productService, y condicionamos-->
                        <table class="table table-striped">
                            <thead>
                                <!-- esto indica el cabecero de la tabla-->
                                <tr>

                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Telefono</th>
                                    <th>Dirección</th>
                                    <th>Ciudad</th>
                                    <th>Correo</th>
                                    <th>Rol</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--aqui ocupamos a los arreglos del servicio -->
                                <tr *ngFor="let i of usuario ;let indice=index">
                                    <td>{{indice+1}}</td>
                                    <td>{{i.nombre}}</td>
                                    <td>{{i.apellido }}</td>
                                    <td>{{i.telefono }}</td>
                                    <td>{{i.direccion }}</td>
                                    <td>{{i.ciudad }}</td>
                                    <td>{{i.correo }}</td>
                                    <td>{{i.rol }}</td>


                                    <td>
                                        <button class="btn btn-primary btn-sm" title="Actualizar"
                                            (click)="mostrarModal(i.id,i.nombre,i.apellido,i.telefono,i.direccion,i.ciudad,i.correo,i.rol)">
                                            <i class="fas fa-pencil-alt"></i> Editar
                                        </button>
                                        &nbsp;
                                        <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(i.id,i.nombre)"
                                            title="Eliminar">
                                            <i class="fas fa-ban"></i> Eliminar
                                        </button>
                                    </td>
                                </tr>
                                <tr>


                                </tr>
                            </tbody>
                            <!--FIN DE BODY-->
                        </table>

                    </div>
                    <!--FIN DE SECCION TABLA TABLA-->
                </div>
                <!--FIN HEADER CARD-->
            </div>
            <!--FIN BORDER CARD-->
        </div>
        <div class="modal" id="exampleModal" [ngStyle]="{'display':activarModal}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="background: #dddddd">
                    <div class="modal-header">
                        <h5 class="modal-title">Actualizar Usuario</h5>
                        <button (click)="ocultarModal()" type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--formulario para crear/actualizar apoderado-->
                        <form class="col-md-12 ml-0 pl-0" #modelNew="ngForm" (ngSubmit)="onSubmit(modelNew)">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre </label>
                                    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usu.nombre"
                                        class="form-control" required>
                                    <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">
                                        Debe ingresar el Nombre
                                    </small>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellido">Apellido </label>
                                    <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="usu.apellido"
                                        class="form-control" required>
                                    <small *ngIf="!apellido.valid && apellido.touched" class="invalid-feedback d-block">
                                        Debe ingresar el Apellido
                                    </small>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="telefono">Telefono </label>
                                    <input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="usu.telefono"
                                        class="form-control" required>
                                    <small *ngIf="!telefono.valid && telefono.touched" class="invalid-feedback d-block">
                                        Debe ingresar el telefono
                                    </small>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="direccion"> Dirección</label>
                                    <input type="text" name="direccion" class="form-control" #direccion="ngModel"
                                        [(ngModel)]="usu.direccion" required>
                                    <small *ngIf="!direccion.valid && direccion.touched"
                                        class="invalid-feedback d-block">
                                        Ingrese una dirección
                                    </small>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="ciudad">Ciudad </label>
                                    <input type="text" name="ciudad" #ciudad="ngModel" [(ngModel)]="usu.ciudad"
                                        class="form-control" required>
                                    <small *ngIf="!ciudad.valid && ciudad.touched" class="invalid-feedback d-block">
                                        Debe ingresar una ciudad
                                    </small>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="correo"> Correo</label>
                                    <input type="text" name="correo" class="form-control" #correo="ngModel"
                                        [(ngModel)]="usu.correo" required>
                                    <small *ngIf="!correo.valid && correo.touched" class="invalid-feedback d-block">
                                        Ingrese un Correo
                                    </small>
                                </div>
                                <!--
                                <div class="form-group col-md-6">
                                    <label for="contrasena"> Contraseña</label>
                                    <input type="text" name="contrasena" class="form-control" #contrasena="ngModel"
                                        [(ngModel)]="usu.contrasena" required>
                                    <small *ngIf="!contrasena.valid && contrasena.touched" class="invalid-feedback d-block">
                                        Ingrese un Contraseña
                                    </small>
                                </div>
                            -->
                                <div class="form-group col-md-6">
                                    <label for="rol"> Rol</label>
                                    <input type="text" name="rol" class="form-control" #rol="ngModel"
                                        [(ngModel)]="usu.rol" required>
                                    <small *ngIf="!rol.valid && rol.touched" class="invalid-feedback d-block">
                                        Ingrese un Rol
                                    </small>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-success" value="Guardar" [disabled]="modelNew.invalid">
                        </form>
                        <!--fin formulario para crear/actualizar usuario-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="ocultarModal()" class="btn btn-danger">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>